.tag-label {
    display: inline-block;
    background-color: #03a9f4;
    color: white;
    font-size: 12px;
    padding: 4px 8px 4px 20px;
    position: relative;
    border-radius: 3px;
    cursor: pointer;
    clip-path: polygon(10px 0%,
            100% 0%,
            100% 100%,
            10px 100%,
            0% 50%);
}

.tag-label::after {
    content: '';
    position: absolute;
    left: 8px;
    top: 50%;
    width: 4px;
    height: 4px;
    background: white;
    border-radius: 50%;
    transform: translateY(-50%);
}